body {
  margin:auto;
}

#map {
  margin:10px auto;
  height: 700px;
  width: 1100px;
}

#slider_bar {
  width: 1050px;
}

#start_day,#end_day {
    width: 50px;
}

#start_hour,#end_hour {
    width: 30px;
}
